.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 100%;
}

.login-container {
  align-items: center;
  background-color: rgb(212, 211, 211);
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: center;
  width: 250px;
}

.login-container-legend {
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin-bottom: 5px;
}

button {
  height: 50px;
  margin-top: 20px;
  width: 75px;
}

p {
  margin: 2px;
}